body {
  font-family: HK Grotesk;
  background-color: white;
  
}

p {
  font-family: Baskerville;
  font-size: 35px;
}

h1 {
  font-family: Arial;
  font-size: 40px;
  color: #000000;
}

.newheadline {
  font-family: Aborito;
  font-size: 50px;
}

.fancy {
  font-family: 'Arial';
  font-size: 16px;
  color: #a83297
}

